* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FAFAFA;
  width: 100%;
  height: 100vh;
  /* border: 3px dashed gray; */
}
a {
  text-decoration: none;
  color: black;
}